{% extends "base.html" %}

{% block extrahead %}
  <!-- Fathom Analytics (cookieless, privacy-focused) -->
  <script src="https://cdn.usefathom.com/script.js" data-site="AWJJHRSD" defer></script>

  <!-- Amplitude Analytics -->
  <script defer>
    !function(){
      var s=document.createElement("script");
      s.type="text/javascript";s.async=true;
      s.src="https://cdn.amplitude.com/libs/analytics-browser-2.11.0-min.js.gz";
      s.onload=function(){
        if(window.amplitude){
          window.amplitude.init("b3e2bf57854a249998fe53219bc082e",{  // pragma: allowlist secret
            autocapture:{elementInteractions:false,fileDownloads:false,
              formInteractions:false,pageViews:true,sessions:true}
          });
        }
      };
      document.head.appendChild(s);
    }();
  </script>

  <!-- Google Analytics (GA4) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-K46JVQZL1C"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-K46JVQZL1C');
  </script>

  <!-- Cloudflare Web Analytics (cookieless) -->
  <script defer src="https://static.cloudflareinsights.com/beacon.min.js"
    data-cf-beacon='{"token": "61e31b8b817749bd97816b91937da183"}'></script>  <!-- pragma: allowlist secret -->
{% endblock %}
